body {
  background-color: #333333;
  color: #ffffff;
}

/* Style the box with options */
.option-box {
  background-color: #00000080;
  border: 1px solid #3b3b3b;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* Style the select element */
.option-box select {
  width: 100%;
  padding: 10px;
  border: 1px solid #3b3b3b;
  border-radius: 5px;
  background-color: #00000080;
  color: #ffffff;
}
.option-box select:focus {
  outline: none;
  border: 1px solid #3b3b3b;
}

/* Style the button element */
.option-box button {
  background-color: #00000080;
  color: #ffffff;
  border: 1px solid #3b3b3b;
  border-radius: 5px;
  padding: 5px 10px; 
  margin-top: 7px; 
  cursor: pointer;
}



/* Text Styles */
h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 5px 0;
}
